out
.idea
Bigger Items/assets/minecraft/models/item/diamond_sword.json
Bigger Items/assets/minecraft/models/item/golden_sword.json
Bigger Items/assets/minecraft/models/item/iron_sword.json
Bigger Items/assets/minecraft/models/item/stone_sword.json
Bigger Items/assets/minecraft/models/item/wooden_sword.json